@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}
.top-section {
    width: 1280px;
    height: 382px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    position: relative;
}
.content-box-top {
    padding-left: 264px;
}
.top-section h1 {
    font-size: 24px;
    font-weight: bold;
}
.top-section p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    line-height: 1.6;
}
.top-section a {
    color: #008000;
    text-decoration: none;
    font-weight: bold;
}
.bottom-section {
    width: 1280px;
    height: 450px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.content-box {
    background: white;
    padding: 40px;
    width: 808px;
    height: 312px;
    position: absolute;
    top: 454px;
    left: 232px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.content-box p {
    font-size: 16px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 15px;
}
.highlight {
    background-color: #ffcc00;
    font-weight: bold;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    left: -50px;
}
